/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Main container */
  .categoryformsetupcontainer {
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  /* Form styling */
  .category-form {
    background-color: #fff;
    border: 1px solid #249b00;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px;
    
  }
  
  /* Header styling */
  .category-form-header {
    text-align: center;
    color: #235813;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Label styling */
  .form-label {
    font-size: 14px;
    color: #006e7a;
    margin-bottom: 5px;
  }
  
  /* Input, textarea, and select styling */
  .form-input,
  .form-select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #f9f9f9;
    
  }
  .form-textarea{
    width: 100%;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #f9f9f9;
    height: 30px;
  }
  
  .form-input:focus,
  .form-textarea:focus,
  .form-select:focus {
    border-color: #007bff;
    background-color: #fff;
  }
  
  /* Checkbox styling */
  .form-checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .form-checkbox-input {
    cursor: pointer;
  }
  
  .form-checkbox-label {
    font-size: 14px;
    color: #555;
  }
  
  /* Buttons container */
  .form-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  /* Buttons styling */
  .form-submit-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-back-btn {
    background-color: #ccc;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-submit-btn:hover,
  .form-back-btn:hover {
    opacity: 0.9;
  }
  